fastapi  
google-generativeai  
pillow  
pydantic  
pytesseract  
python-docx  
python-dotenv  
python-multipart  
python-pptx  
pypdf2  
protobuf>=5.29.5,<6.0.0  
scipy  
sounddevice  
SpeechRecognition  
uvicorn
